@{
    ViewBag.Title = "Manage Modules";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using ERP.Utilities

<div data-ng-controller="ARModuleCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header main-page-header">
                <h2><i class="entypo-doc-text"></i>Manage Modules</h2>
            </div>
        </div>
    </div>

    @{
        var ctrl = ViewContext.RouteData.DataTokens["area"].ToString() + ViewBag.ctrlName;
        bool hasInsertRights = ERPUtilities.HasAccessPermission(1, ctrl);

        if (hasInsertRights) { 
            <div class="row">
                <div class="col-sm-12">
                    <div class="well well-sm">
                        <form class="form-inline">
                            <button type="button" class="btn btn-sm btn-info" data-ng-click="AddModule()">Add New</button>
                        </form>
                    </div>
                </div>
            </div>              
        }
    }
    

    <!-- MODULE FORM -->
    <div class="row">
        <div class="col-sm-12 ng-hide" data-ng-show="isFormVisible">
            <form role="form" data-ng-submit="CreateUpdateModule(editData)" name="modform" id="modform">
                <div class="panel panel-default panel-shadow">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{mode}} Module</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="txtModuleName">Module Name<span class="compulsary">*</span></label>
                                    <input type="text" class="form-control" id="txtModuleName" name="txtModuleName" data-ng-model="editData.ModuleName" data-drc-focus="isFirstFocus" placeholder="Enter module name" maxlength="50" value="" required />
                                    <div data-ng-show="modform.txtModuleName.$dirty && modform.txtModuleName.$invalid" class="label label-danger">
                                        Invalid: <span data-ng-show="modform.txtModuleName.$error.required">Tell us your module name.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="txtSeqNo">Sequence Number<span class="compulsary">*</span></label>
                                    <input type="text" class="form-control" id="txtSeqNo" name="txtSeqNo" data-ng-model="editData.SeqNo" data-ng-pattern="/^\d*\.?\d*$/" placeholder="Enter your sequence number" maxlength="2" value="" required>
                                    <div data-ng-show="modform.txtSeqNo.$dirty && modform.txtSeqNo.$invalid" class="label label-danger">
                                        Invalid: <span data-ng-show="modform.txtSeqNo.$error.required" class="">Tell us your sequence number.</span>
                                                <span data-ng-show="modform.txtSeqNo.$error.pattern" class="">Please enter valid sequence number.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group" style="display: none;">
                            <label class="checkbox">
                                <input type="checkbox" name="chkIsActive" data-ng-model="editData.IsActive">Active</label>
                        </div>
                    </div>
                    <div class="panel-footer">
                        @{
                            if (hasInsertRights) { 
                                <button type="submit" class="btn btn-sm btn-info btn-icon icon-left" data-ng-disabled="modform.$invalid"><i class="entypo-check"></i>{{saveText}}</button>
                            }
                        }
                        <button type="button" class="btn btn-sm btn-success btn-icon icon-left" data-ng-click="ResetModule()"><i class="entypo-erase"></i>Reset</button>
                        <button type="button" class="btn btn-sm btn-primary btn-icon icon-left" data-ng-click="CloseModule()"><i class="entypo-cancel"></i>Close</button>
                    </div>
                </div>
            </form> <!-- / CREATE MODULE FORM END -->
        </div>
    </div>

    <!--MODULE LIST-->
    <div class="row" data-ng-init="RetrieveModule()">
        <div class="col-sm-12">
            <div data-loading-container="tableParams.settings().$loading">
                <div class="table-responsive">
                    <table data-ng-table="tableParams" data-show-filter="true" class="table table-hover table-bordered table-condensed table-striped">
                        <tr data-ng-repeat="d in $data" ng-form="subform">
                            @{
                                var editPermission = ERPUtilities.HasAccessPermission(2, ctrl);
                                if (editPermission) {
                                    <td style="width: 50px; text-align: center;" data-title="'Status'">
                                        <a href="#" class="btn btn-success btn-xs" data-ng-show="{{d.IsActive}}" data-drc-confirm-box="" data-callback="ChangeStatus(d.ModuleId, d.IsActive)" data-message="Are you sure want to InActive '{{d.ModuleName}}' Module?" data-drc-tooltip="Inactive"><i class="entypo-check"></i></a>
                                        <a href="#" class="btn btn-default btn-xs" data-ng-show="{{!d.IsActive}}" data-drc-confirm-box="" data-callback="ChangeStatus(d.ModuleId, d.IsActive)" data-message="Are you sure want to Active '{{d.ModuleName}}' Module?" data-drc-tooltip="Active"><i class="entypo-cancel"></i></a>
                                    </td>                          
	                            }
                            }
                            <td data-title="'Module'" data-filter="{ 'ModuleName': 'text' }" data-sortable="'ModuleName'">{{d.ModuleName}}</td>
                             @{
                                 if (editPermission) {
                                    <td data-title="'Seq'" data-sortable="'SeqNo'" style="width:130px;">
                                        <div data-ng-if="!isEdit[$index]" data-ng-click="isEdit[$index] = 'true'; oldSeqNo[$index] = $data[$index].SeqNo">
                                           {{$data[$index].SeqNo}}
                                        </div>
                                        <div data-ng-if="isEdit[$index]">
                                            <input type="text" name="txtGridSeqNo" data-ng-model="$data[$index].SeqNo" data-ng-pattern="/^[1-9][0-9]*$/" value="{{d.SeqNo}}" maxlength="2" style="width:40px;" required/>
                                            <a data-ng-click="ChangeSeqNo($data[$index].SeqNo, d.ModuleId, $index)" data-ng-disabled="subform.txtGridSeqNo.$error.pattern || subform.txtGridSeqNo.$error.required" class="btn btn-info btn-xs" style="margin-bottom: 3px;"><i class="entypo-check"></i></a>
                                            <a data-ng-click="CancelSeqChange($index, $data)" class="btn btn-danger btn-xs" style="margin-bottom: 3px;"><i class="entypo-cancel"></i></a>
                                        </div>
                                    </td>
                                 }
                                 else { 
                                     <td data-title="'Seq'" data-sortable="'SeqNo'" style="width:130px;">
                                        {{d.SeqNo}}
                                    </td>
                                 }
                            }
                            <td style="width: 125px;" data-title="'Changed On'" data-sortable="'ChgDate'">{{d.ChgDate | date:'dd-MMM-yyyy HH:mm'}}</td>
                            @{
                                var deletePermission = ERPUtilities.HasAccessPermission(3, ctrl);
                                if (editPermission || deletePermission){
                                    <td style="width: 100px; text-align: center;" data-title="'Actions'">
                                        @if (editPermission) {
                                            <a href="#" class="btn btn-primary btn-xs" data-ng-click="UpdateModule(d)" data-drc-tooltip="Edit"><i class="entypo-pencil"></i></a>
                                        }
                                        @if (deletePermission) {
                                            <a href="#" class="btn btn-danger btn-xs" data-drc-confirm-box="" data-callback="DeleteModule(d.ModuleId)" data-message="Are you sure want to delete '{{d.ModuleName}}' from Module?" data-drc-tooltip="Delete"><i class="entypo-trash"></i></a>   
                                        }
                                    </td>
                                }
                            }
                        </tr>
                        <tr data-ng-show="noRecord" style="text-align: center;">
                            @{
                                if (editPermission){
                                    <td style="width: 50px;"></td>   
                                }
                            }
                            <td>Your search - <b>{{filterText}}</b> - did not match any module.
                            </td>
                            <td style="width: 125px;"></td>
                            @{
                                if (editPermission || deletePermission){
                                    <td style="width: 80px;"></td>
                                }
                            }
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    @Scripts.Render("~/Area/AR/Scripts/armodules")
}
