@{
    ViewBag.Title = "Client Source";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using ERP.Utilities

<div data-ng-controller="INVClientSourceCtrl" data-select="SetFocus('clientSourceName')">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header main-page-header">
                <h2>
                    <i class="entypo-doc-text"></i> Client Source
                </h2>
            </div>
        </div>
    </div>

    <!-- BEGIN HEADER SECTION-->
    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm">
                <form class="form-inline">
                    @{
                        var ctrl = ViewContext.RouteData.DataTokens["area"].ToString() + ViewBag.ctrlName;
                        bool hasInsertRights = ERPUtilities.HasAccessPermission(1, ctrl);
                        if (hasInsertRights)
                        {
                            <button type="button" class="btn btn-sm btn-info" data-ng-click="AddClientSource()">Add New</button>
                        }
                    }
                </form>
            </div>
        </div>
    </div>
    <!-- / END HEADER SECTION-->
    <!-- BEGIN FORM SECTION -->
    <div class="row">
        <div class="col-sm-12 ng-hide" data-ng-show="isClientSourceFormVisible">
            <form role="form" data-ng-submit="CreateUpdateClientSource(editData)" name="clientSourceform" id="clientSourceform">
                <div class="panel panel-default panel-shadow">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{mode}} Client Source</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="txtClientSourceName">Client Source<span class="compulsary">*</span></label>
                            <input type="text" class="form-control" id="txtClientSourceName" name="clientSourceName" data-ng-model="editData.ClientSourceName" data-drc-focus="isFirstFocus" placeholder="Enter client source name" maxlength="50" value="" required />
                            <div data-ng-show="clientSourceform.clientSourceName.$dirty && clientSourceform.clientSourceName.$invalid" class="label label-danger">
                                Invalid: <span data-ng-show="clientSourceform.clientSourceName.$error.required">Tell us your client source name.</span>
                            </div>
                        </div>
                        <div class="form-group" style="display: none;">
                            <label class="checkbox">
                                <input type="checkbox" id="chkIsActive" name="chkIsActive" data-ng-model="editData.IsActive">Active
                            </label>
                        </div>
                    </div>
                    <div class="panel-footer">
                        @{
                            if (hasInsertRights)
                            {
                                <button type="submit" class="btn btn-sm btn-info btn-icon icon-left" data-ng-disabled="clientSourceform.$invalid"><i class="entypo-check"></i>{{saveText}}</button>
                            }
                        }
                        <button type="button" class="btn btn-sm btn-success btn-icon icon-left" data-ng-click="ResetClientSource()"><i class="entypo-erase"></i>Reset</button>
                        <button type="button" class="btn btn-sm btn-primary btn-icon icon-left" data-ng-click="CloseClientSource()"><i class="entypo-cancel"></i>Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- / END FORM SECTION -->
    <!-- BEGIN BODY SECTION -->
    <div class="row" data-ng-init="RetrieveClientSource()">
        <div class="col-sm-12">
            <div data-loading-container="tableParams.settings().$loading">
                <div class="table-responsive">
                    <table data-ng-table="tableParams" data-show-filter="true" class="table table-hover table-bordered table-condensed table-striped">
                        <tr data-ng-repeat="d in $data">

                            @{
                                var editPermission = ERPUtilities.HasAccessPermission(2, ctrl);
                                if (editPermission)
                                {
                                    <td style="width: 50px; text-align: center;" data-title="'Status'">
                                        <a href="#" class="btn btn-success btn-xs" data-ng-show="{{d.IsActive}}" data-drc-confirm-box="" data-callback="ChangeStatus(d.PKSourceId, d.IsActive)" data-message="Are you sure want to InActive '{{d.SourceName}}' Client Source?" data-drc-tooltip="Inactive"><i class="entypo-check"></i></a>
                                        <a href="#" class="btn btn-default btn-xs" data-ng-show="{{!d.IsActive}}" data-drc-confirm-box="" data-callback="ChangeStatus(d.PKSourceId, d.IsActive)" data-message="Are you sure want to Active '{{d.SourceName}}' Client Source?" data-drc-tooltip="Active"><i class="entypo-cancel"></i></a>
                                    </td>
                                }
                            }
                            <td data-title="'Source name'" data-filter="{ 'SourceName': 'text' }" data-sortable="'SourceName'">{{d.SourceName}}</td>
                            <td style="width: 125px;" data-title="'Changed On'" data-sortable="'ChgDate'">{{d.ChgDate | date:'dd-MMM-yyyy HH:mm'}}</td>
                            @{
                                var deletePermission = ERPUtilities.HasAccessPermission(3, ctrl);
                                if (editPermission || deletePermission)
                                {
                                    <td style="width: 80px; text-align: center;" data-title="'Actions'">
                                        @if (editPermission)
                                        {
                                            <a href="#" class="btn btn-primary btn-xs" data-ng-click="UpdateClientSource(d)" data-drc-tooltip="Edit"><i class="entypo-pencil"></i></a>
                                        }
                                        @if (deletePermission)
                                        {
                                            <a href="#" class="btn btn-danger btn-xs" data-drc-confirm-box="" data-callback="DeleteClientSource(d.PKSourceId)" data-message="Are you sure want to delete '{{d.SourceName}}' from Designation Group?" data-drc-tooltip="Delete"><i class="entypo-trash"></i></a>
                                        }
                                    </td>
                                }
                            }
                        </tr>
                        <tr data-ng-show="noRecord" style="text-align: center;">
                            @{
                                if (editPermission)
                                {
                                    <td style="width: 50px;"></td>
                                }
                            }
                            <td>
                                Your search - <b>{{filterText}}</b> - did not match any designation group.
                            </td>
                            <td style="width: 125px;"></td>
                            @{
                                if (editPermission || deletePermission)
                                {
                                    <td style="width: 80px;"></td>
                                }
                            }
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- / END BODY SECTION -->
</div>

@section Scripts{
    <script src="~/Scripts/date/date.js"></script>
    <script src="@Url.Content("~/Areas/Invoice/Scripts/controllers/INVClientSourceCtrl.js")"></script>
    <script src="@Url.Content("~/Areas/Invoice/Scripts/services/INVClientSourceService.js")"></script>
    <script src="~/Scripts/directives/confirmbox.js"></script>
    <script src="~/Scripts/directives/focus.js"></script>
    <script src="~/Scripts/directives/drcInputMask.js"></script>
}