@{
    ViewBag.Title = "Manage Medical Help";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using ERP.Utilities


<div data-ng-controller="MedicalHelpCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header main-page-header">
                <h2><i class="entypo-doc-text"></i>Manage Medical Help</h2>
            </div>
        </div>
    </div>

    <!-- BEGIN HEADER SECTION -->
    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm well-filter">
                <form role="form" class="form-inline" data-ng-submit="FilterByIssueDate()" name="filterform">
                    <div class="form-group">
                        <label style="display: inline-block; margin-right: 15px; margin-top: 4px; color: #212121;">Date From:</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-sm" type="text" data-drc-filter-date-picker="" data-daterange="filterDate.dateRange" value="" />
                    </div>
                    <!-- <div class="form-group">
                        <select name="drpHospitalName" data-ng-model="filterData.drpHospitalName" class="form-control" style="width: 150px;" required>
                            <option value="0">ALL</option>
                            <option data-ng-repeat="t in MedicalHelpType" value="{{t.Id}}">{{t.Label}}</option>
                        </select>
                    </div> -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-primary">Filter</button>
                        @{
                            var ctrl = ViewContext.RouteData.DataTokens["area"].ToString() + ViewBag.ctrlName;
                            bool hasInsertRights = ERPUtilities.HasAccessPermission(1, ctrl);
                            if (hasInsertRights)
                            {
                                <button type="button" class="btn btn-sm btn-info" data-ng-click="AddMedicalHelp()">Add New</button>
                            }
                        }
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-danger">Download</button>
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                <i class="entypo-down"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-danger" role="menu">
                                <li>
                                    <a href="#" data-ng-click="ExportToExcel()">Excel Format</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- / END HEADER SECTION -->
    <!-- BEGIN FORM SECTION -->
    <div class="row">
        <div class="col-sm-12  ng-hide " data-ng-show="isFormVisible">
            <form role="form" data-ng-submit="CreateUpdateMedicalHelp(editData)" name="MedicalHelpform" id="MedicalHelpform">
                <div class="panel panel-default panel-shadow">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{mode}} Medical Help</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="checkbox" data-ng-model="editData.IsPatelSocialGroup" id="chkPatelSG">Medical Help through Patel Social Group
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtEmpCode">Employee Code<span class="compulsary">*</span></label>
                                    <input type="text" class="form-control" id="txtEmpCode" name="EmpCode" data-ng-model="editData.ECode" data-drc-focus="isFirstFocus" placeholder="Enter Employee Code" maxlength="9" value="" tabindex="1" required />
                                    <div data-ng-show="MedicalHelpform.EmpCode.$dirty && MedicalHelpform.EmpCode.$invalid" class="label label-danger">
                                        Invalid: <span data-ng-show="MedicalHelpform.EmpCode.$error.required">Tell us Employee Code.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtEmpName">Employee Name<span class="compulsary">*</span></label>
                                    <input type="text" class="form-control" id="txtEmpName" name="EmployeeName" data-ng-pattern="/^[A-Za-z ]*$/" data-ng-model="editData.EmployeeName" placeholder="Enter Employee Name" maxlength="50" tabindex="2" value="" required />
                                    <div data-ng-show="MedicalHelpform.EmployeeName.$dirty && MedicalHelpform.EmployeeName.$invalid" class="label label-danger">
                                        Invalid: <span data-ng-show="MedicalHelpform.EmployeeName.$error.required">Tell us Employee Name.</span>
                                        <span data-ng-show="MedicalHelpform.EmployeeName.$error.pattern">Please enter only Alphabet characters.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtPatientName">Patient Name<span class="compulsary">*</span></label>
                                    <input type="text" class="form-control" id="txtPatientName" name="PatientName" data-ng-pattern="/^[A-Za-z ]*$/" data-ng-model="editData.PatientName" placeholder="Enter Patient Name" maxlength="50" tabindex="3" value="" required />
                                    <div data-ng-show="MedicalHelpform.PatientName.$dirty && MedicalHelpform.PatientName.$invalid" class="label label-danger">
                                        Invalid: <span data-ng-show="MedicalHelpform.PatientName.$error.required">Tell us Patient Name.</span>
                                        <span data-ng-show="MedicalHelpform.PatientName.$error.pattern">Please enter only Alphabet characters.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtHospitalName">Hospital Name<span class="compulsary">*</span></label>
                                    <input type="text" class="form-control" id="txtHospitalName" name="HospitalName" data-ng-model="editData.HospitalName" placeholder="Enter Hospital Name" maxlength="50" tabindex="4" value="" required />
                                    <div data-ng-show="MedicalHelpform.HospitalName.$dirty && MedicalHelpform.HospitalName.$invalid" class="label label-danger">
                                        Invalid: <span data-ng-show="MedicalHelpform.HospitalName.$error.required">Tell us Hospital Name.</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtMobileNo">Mobile No.<span class="compulsary">*</span></label>
                                    <input type="text" class="form-control" id="txtMobileNo" name="MobileNo" data-ng-pattern="/^[0-9]{10,}$/" data-ng-model="editData.MobileNumber" placeholder="Enter Mobile Number" maxlength="12" value="" tabindex="5" required />
                                    <div data-ng-show="MedicalHelpform.MobileNo.$dirty && MedicalHelpform.MobileNo.$invalid" class="label label-danger">
                                        Invalid: <span data-ng-show="MedicalHelpform.MobileNo.$error.required">Tell us Mobile No.</span>
                                        <span data-ng-show="MedicalHelpform.MobileNo.$error.pattern">Please enter only Numeric characters.</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtRelation">Relation<span class="compulsary">*</span></label>
                                    <input type="text" class="form-control" id="txtRelation" name="Relation" data-ng-pattern="/^[A-Za-z ]*$/" data-ng-model="editData.Relation" placeholder="Enter Relation" maxlength="50" tabindex="6" value="" required />
                                    <div data-ng-show="MedicalHelpform.Relation.$dirty && MedicalHelpform.Relation.$invalid" class="label label-danger">
                                        Invalid: <span data-ng-show="MedicalHelpform.Relation.$error.required">Tell us Relation.</span>
                                        <span data-ng-show="MedicalHelpform.Relation.$error.pattern">Please enter only Alphabet characters.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtChequeNo">Cheque Number<span class="compulsary">*</span></label>
                                            <input type="text" class="form-control" id="txtChequeNo" name="ChequeNo" data-ng-model="editData.ChequeNumber" placeholder="Enter Cheque Number" maxlength="20" tabindex="7" value="" required />
                                            <div data-ng-show="MedicalHelpform.ChequeNo.$dirty && MedicalHelpform.ChequeNo.$invalid" class="label label-danger">
                                                Invalid: <span data-ng-show="MedicalHelpform.ChequeNo.$error.required">Tell us Cheque Number.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtIssueDate">Issue Date<span class="compulsary">*</span></label>
                                            <p class="input-group" style="margin-bottom: 0;" id="p1">
                                                <input type="text" data-parentid="p1" data-drc-input-mask='{ "mask": "d-m-y"}' class="form-control" id="txtIssueDate" name="txtIssueDate" placeholder="DD-MM-YYYY" maxlength="10" tabindex="8" value="" required data-ng-model="editData.IssueDate" data-ng-change="ValidateIssuedDate(editData.IssueDate)" />
                                                <span class="input-group-btn" style="position: initial;">
                                                    <button class="btn btn-default" data-datepicker-popup="{{format}}"
                                                            data-is-open="editData.calOpenIssueDate"
                                                            data-ng-model="issueDate"
                                                            data-datepicker-options="dateOptions"
                                                            data-close-text="Close"
                                                            data-ng-required="true"
                                                            data-ng-click="calendarOpenIssueDate($event)">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </p>
                                            <div data-ng-show="MedicalHelpform.txtIssueDate.$dirty && MedicalHelpform.txtIssueDate.$invalid" class="label label-danger">
                                                Invalid: <span data-ng-show="MedicalHelpform.txtIssueDate.$error.required">Please select your Cheque Issue Date.</span>
                                                <span data-ng-show="MedicalHelpform.txtIssueDate.$error.invalidIssueDate">Please enter valid Date.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6" ng-show="editData.IsPatelSocialGroup">
                                        <div class="form-group">
                                            <label for="txtQuotationAmount">Quation<span class="compulsary">*</span></label>
                                            <input type="text" class="form-control" id="txtQuotationAmount" name="QuotationAmount" data-ng-pattern="/^\d*\.?\d*$/" data-ng-model="editData.QuotationAmount" placeholder="Enter Quotation Amount" tabindex="9" maxlength="15" value="" ng-required="editData.IsPatelSocialGroup" />
                                            <div data-ng-show="MedicalHelpform.QuotationAmount.$dirty && MedicalHelpform.QuotationAmount.$invalid" class="label label-danger">
                                                Invalid: <span data-ng-show="MedicalHelpform.QuotationAmount.$error.required">Tell us Quotation Amount.</span>
                                                <span data-ng-show="MedicalHelpform.QuotationAmount.$error.pattern">Please enter only Numeric characters.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtAmount" data-ng-if="!editData.IsPatelSocialGroup">Amount<span class="compulsary">*</span></label>
                                            <label for="txtAmount" data-ng-if="editData.IsPatelSocialGroup">Amount Pass<span class="compulsary">*</span></label>
                                            <input type="text" class="form-control" id="txtAmount" name="Amount" data-ng-pattern="/^\d*\.?\d*$/" data-ng-model="editData.Amount" placeholder="Enter Amount" maxlength="15" tabindex="10" value="" ng-required="editData.IsPatelSocialGroup" />
                                            <div data-ng-show="MedicalHelpform.Amount.$dirty && MedicalHelpform.Amount.$invalid" class="label label-danger">
                                                Invalid: <span data-ng-show="MedicalHelpform.Amount.$error.required">Tell us Amount.</span>
                                                <span data-ng-show="MedicalHelpform.Amount.$error.pattern" class="">Please enter only Numeric characters.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" ng-show="editData.IsPatelSocialGroup">
                                        <div class="form-group">
                                            <label for="txtApprovedBy">Approved By<span class="compulsary">*</span></label>
                                            <input type="text" class="form-control" id="txtApprovedBy" name="ApprovedBy" data-ng-pattern="/^[A-Za-z ]*$/" data-ng-model="editData.ApprovedBy" placeholder="Enter Approved By" tabindex="11" maxlength="50" value="" ng-required="editData.IsPatelSocialGroup" />
                                            <div data-ng-show="MedicalHelpform.ApprovedBy.$dirty && MedicalHelpform.ApprovedBy.$invalid" class="label label-danger">
                                                Invalid: <span data-ng-show="MedicalHelpform.ApprovedBy.$error.required">Tell us ApprovedBy.</span>
                                                <span data-ng-show="MedicalHelpform.ApprovedBy.$error.pattern">Please enter only Alphabet characters.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtReceiverName">Receiver Name<span class="compulsary">*</span></label>
                                            <input type="text" class="form-control" id="txtReceiverName" name="ReceiverName" data-ng-pattern="/^[A-Za-z ]*$/" data-ng-model="editData.ReceiverName" placeholder="Enter Receiver Name" maxlength="50" tabindex="12" value="" required />
                                            <div data-ng-show="MedicalHelpform.ReceiverName.$dirty && MedicalHelpform.ReceiverName.$invalid" class="label label-danger">
                                                Invalid: <span data-ng-show="MedicalHelpform.ReceiverName.$error.required">Tell us Receiver Name.</span>
                                                <span data-ng-show="MedicalHelpform.ReceiverName.$error.pattern">Please enter only Alphabet characters.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-10">

                                        <img src="~/Content/images/thumb_Document.png" class="img-responsive" width="33%" title="Please select a Document" style="margin-left:25%;" />
                                        <!-- <img data-ng-if="DocFileName" data-ng-model="DocFileName" src="~/{{ImagePath}}/{{DocFileName}}" title="{{DocFileName}}" class="img-responsive" width="100%" /> -->
                                        <div upload-file data-filename="editData.Attachment" data-buttonclass="document-pic-upload-btn" data-id="document_pic" data-uploadhandler="/MedicalHelp/medicalHelpDocument" data-ischanged="ischanged" tabindex="13" data-ext="*.pdf" style="display: inline-block; width: 87%;">
                                            <input id="imageOne">
                                        </div>
                                        <input type="text" style="display: none" data-ng-model="editData.Attachment" />

                                        <a ng-show="editData.Attachment != null  && editData.Attachment !='' " data-ng-if="mode == 'Add'" href="/@ViewBag.tempDocPdf/{{editData.Attachment}}" target="_blank"><i class="entypo-attach"></i></a>
                                        <a ng-show="editData.Attachment != null  && editData.Attachment !='' " data-ng-if="mode == 'Edit'" href="/@ViewBag.DocPdf/{{editData.Attachment}}" target="_blank"><i class="entypo-attach"></i></a>



                                    </div>
                                    <div class="col-sm-2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        @{
                            if (hasInsertRights)
                            {
                                <button type="submit" class="btn btn-sm btn-info btn-icon icon-left" data-ng-disabled="MedicalHelpform.$invalid || validateDrop()" tabindex="14"><i class="entypo-check"></i>{{saveText}}</button>
                            }
                        }
                        <button type="button" class="btn btn-sm btn-success btn-icon icon-left" data-ng-click="ResetMedicalHelp()" tabindex="15"><i class="entypo-erase"></i>Reset</button>
                        <button type="button" class="btn btn-sm btn-primary btn-icon icon-left" data-ng-click="CloseMedicalHelp()" tabindex="16"><i class="entypo-cancel"></i>Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- / END FORM SECTION -->
    <!-- BEGING MEDIAL HELP LIST -->
    <div class="row" data-ng-init="RetrieveMedicalHelp()">
        <div class="col-sm-12">
            <div data-loading-container="tableParams.settings().$loading">
                <div class="table-responsive">
                    <table data-ng-table="tableParams" data-show-filter="true" class="table table-hover table-bordered table-condensed table-striped">
                        <tr data-ng-repeat="d in $data">

                            <td data-title="" style="width: 50px;"><a ng-if="d.Attachment != NULL && d.Attachment != '' " href="@ViewBag.DocPdf/{{d.Attachment}}" target="_blank" title="click to download"><i class="entypo-attach"></i></a></td>

                            <td data-title="'Emp Code'" data-filter="{'ECode': 'text'}" data-sortable="'ECode'">{{d.ECode}}</td>
                            <td data-title="'Emp Name'" data-filter="{'EmployeeName': 'text' }" data-sortable="'EmployeeName'">{{d.EmployeeName}}</td>
                            <td data-title="'Is Patel Samaj'"
                                data-filter="{ 'IsPatelSocialGroup': 'select' }"
                                filter-data="FilterPatelSocialGroup($column)"
                                data-sortable="'IsPatelSocialGroup'">
                                {{d.IsPatelSocialGroup == true ? "Yes" : "No"}}
                            </td>

                            <td data-title="' Cheque Issue Date'" data-sortable="'ChequeIssueDate'">{{d.ChequeIssueDate | date:'dd-MMM-yyyy' }}</td>
                            <td data-title="'Amount'" align="right" data-sortable="'Amount'">{{d.Amount}}</td>
                            <td data-title="'Changed On'" data-sortable="'ChgDate'" style="width: 125px">{{d.ChgDate | date:'dd-MMM-yyyy HH:mm'}}</td>

                            <!--<td data-title="'File'" data-filter="{'Attachment': 'text' }" data-sortable="'Attachment'">{{d.Attachment}}</td>
                                <td data-title="'File'" >
                                 <a ng-if="d.Attachment != ''"  Download class="download_file" href="../Content/uploads/medicalHelp/{{d.Attachment}}"><img src="../Content/images/pdf_file.jpg" height="25" width="25"></a>
                                <img ng-if="d.Attachment == ''"  src="~/Content/images/thumb_Document.png" height="25" width="25">
                             </td>-->
                            @{
                                var editPermission = ERPUtilities.HasAccessPermission(2, ctrl);
                                var deletePermission = ERPUtilities.HasAccessPermission(3, ctrl);

                                <td style="width: 128px; text-align: center;" data-title="'Actions'">
                                    <a class="btn btn-info btn-xs" data-ng-click="ShowMedicalHelp(d)"><i class="entypo-eye"></i></a>
                                    @if (editPermission)
                                    {
                                        <a href="#" class="btn btn-primary btn-xs" data-ng-click="UpdateMedicalHelp(d)"><i class="entypo-pencil" data-drc-tooltip="Edit"></i></a>
                                    }
                                    @if (deletePermission)
                                    {
                                        <a href="#" class="btn btn-danger btn-xs" data-drc-confirm-box="" data-callback="DeleteMedicalHelp(d.SrNo)" data-message="are you sure want to delete from medical help?" data-drc-tooltip="delete"><i class="entypo-trash"></i></a>
                                    }
                                </td>

                            }
                        </tr>
                        <tr data-ng-show="noRecord" style="text-align: center;">
                            @{
                                if (editPermission)
                                {
                                    <td style="width: 50px;"></td>
                                }
                            }
                            <td colspan="3">
                                Your search did not match any Medical Help Information.
                            </td>
                            <td style="width: 125px;"></td>
                            @{
                                if (editPermission || deletePermission)
                                {
                                    <td style="width: 80px;"></td>
                                }
                            }
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- / END MEDIAL HELP LIST -->

</div>


<!-- BEGIN MODEL SECTION -->
<script type="text/ng-template" id="MedicalHelpPopup.html">
    <div class="modal-body">
        <h4> Medical Help Information {{items.ApprovedBy}}</h4>
        <table class="table table-striped">
            <tr>
                <td><b>ECode:</b></td>
                <td>{{items.ECode}}</td>
                <td><b>Employee Name:</b></td>
                <td>{{items.EmployeeName}}</td>
            </tr>
            <tr>
                <td><b>Patient Name:</b></td>
                <td>{{items.PatientName }}</td>
                <td><b>Hospital Name:</b></td>
                <td>{{items.HospitalName}}</td>
            </tr>
            <tr>
                <td><b>Relation:</b></td>
                <td>{{items.Relation}}</td>
                <td><b>Mobile Number:</b></td>
                <td>{{items.MobileNumber}}</td>
            </tr>
            <tr>
                <td><b>ReceiverName:</b></td>
                <td>{{items.ReceiverName}}</td>
                <td><b>Amount:</b></td>
                <td>{{items.Amount}}</td>
            </tr>
            <tr>
                <td><b>Cheque Number:</b></td>
                <td>{{items.ChequeNumber}}</td>
                <td><b>Cheque Issue Date:</b></td>
                <td>{{items.ChequeIssueDate}}</td>
            </tr>
            <tr>
                @* <td ng-if="items.QuotationAmount != null && items.QuotationAmount != '' && items.QuotationAmount != 0 "><b>QuotationAmount:</b></td>
                    <td  ng-if="items.QuotationAmount != null && items.QuotationAmount != '' && items.QuotationAmount != 0 ">{{items.QuotationAmount}}</td>*@
                <td ng-if="items.QuotationAmount != null"><b>QuotationAmount:</b></td>
                <td ng-if="items.QuotationAmount != null">{{items.QuotationAmount}}</td>
                <td ng-if="items.ApprovedBy != '' "><b>ApprovedBy:</b></td>
                <td ng-if="items.ApprovedBy != ''">{{items.ApprovedBy}}</td>
            </tr>
            <tr>
                <td><b>IsPatelSocialGroup:</b></td>
                <td>{{items.IsPatelSocialGroup  == true ? "Patel" : "Non-Patel"}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="Close()">Close</button>
    </div>
</script>
<!-- / END MODEL SECTION -->
@section Scripts{
    <script src="~/Scripts/date/date.js"></script>
    <script src="@Url.Content("~/Areas/HRD/Scripts/controllers/HRDMedicalHelpCtrl.js")"></script>
    <script src="@Url.Content("~/Areas/HRD/Scripts/services/HRDMedicalHelpService.js")"></script>
    <script src="~/Scripts/directives/confirmbox.js"></script>
    <script src="~/Scripts/directives/focus.js"></script>
    <script src="~/Content/js/jquery.uploadify.js"></script>
    <script src="~/Scripts/directives/uploadFile.js"></script>
    <script src="~/Scripts/directives/drcInputMask.js"></script>
    <script src="~/Content/js/daterangepicker/daterangepicker.jQuery.js"></script>
    <script src="~/Scripts/directives/drcFilterDatePicker.js"></script>
}