@{
    ViewBag.Title = "Manage PPE Issue Register";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using ERP.Utilities

<div data-ng-controller="PPEIssueRegisterCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header main-page-header">
                <h2><i class="entypo-doc-text"></i>Manage PPE Issue Register</h2>
            </div>
        </div>
    </div>

    <!--BEGIN HEADER SECTION-->
    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm well-filter">
                <form role="form" class="form-inline" data-ng-submit="FilterByCreDate()" name="filterform">
                    <div class="form-group">
                        <label style="display: inline-block; margin-right: 15px; margin-top: 4px; color: #212121;">Date From:</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-sm" type="text" data-drc-filter-date-picker="" data-daterange="filterDate.dateRange" value="" />
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-primary">Filter</button>
                        @{
                            var ctrl = ViewContext.RouteData.DataTokens["area"].ToString() + ViewBag.ctrlName;
                            bool hasInsertRights = ERPUtilities.HasAccessPermission(1, ctrl);
                            if (hasInsertRights)
                            {
                                <button type="button" class="btn btn-sm btn-info" data-ng-click="AddPPEIssueRegister()">Add New</button>
                            }
                        }
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-danger">Download</button>
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                <i class="entypo-down"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-danger" role="menu">
                                <li>
                                    <a href="#" data-ng-click="ExportToExcel()">Excel Format</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--END HEADER SECTION-->
    <!--BEGIN FORM SECTION-->

    <div class="row">
        <div class="col-sm-12 ng-hide " data-ng-show="isFormVisible">
            <form role="form" data-ng-submit="CreateUpdatePPEIssueRegister(editData)" name="PPEIssueRegisterform" id="PPEIssueRegisterform">
                <div class="panel panel-default panel-shadow">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{mode}} PPE Issue Register</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtNameOfIssuer">Name of Issuer<span class="compulsary">*</span></label>
                                    <input type="text" class="form-control" id="txtNameOfIssuer" name="NameOfIssuer" data-ng-model="editData.NameOfIssuer" data-drc-focus="isFirstFocus" maxlength="99"  placeholder="Enter Name Of Issuer" tabindex="1" value="" required />
                                    <div data-ng-show="PPEIssueRegisterform.NameOfIssuer.$dirty && PPEIssueRegisterform.NameOfIssuer.$invalid" class="label label-danger">
                                        Invalid: <span data-ng-show="PPEIssueRegisterform.NameOfIssuer.$error.required">Tell us Name of Issuer.</span>
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtNameOfRecievr">Name of Receiver<span class="compulsary">*</span></label>
                                    <input type="text" class="form-control" id="txtNameOfRecievr" name="NameOfRecievr" data-ng-model="editData.NameOfRecievr"  maxlength="99" placeholder="Enter Name Of Receiver" tabindex="2" value="" required>
                                    <div data-ng-show="PPEIssueRegisterform.NameOfRecievr.$dirty && PPEIssueRegisterform.NameOfRecievr.$invalid" class="label label-danger">
                                        Invalid<span data-ng-show="PPEIssueRegisterform.NameOfRecievr.$error.required">Tell  us Name of Receiver</span>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtTypesOfPPE">Type of PPE<span class="compulsary">*</span></label>
                                    <input type="text" class="form-control" id="txtTypeOfPPE" name="TypeOfPPE" data-ng-model="editData.TypeOfPPE"  maxlength="99" placeholder="Enter Type of PPE" tabindex="3" value="" required>
                                    <div data-ng-show="PPEIssueRegisterform.TypeOfPPE.$dirty && PPEIssueRegisterform.TypeOfPPE.$invalid" class="label label-danger">
                                        Invalid<span data-ng-show="PPEIssueRegisterform.TypeOfPPE.$error.required">Tell  us Type of PPE</span>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtQuanity">Quanity<span class="compulsary">*</span></label>
                                            <input type="text" class="form-control" id="txtQuanity" name="Quanity" data-ng-pattern="/^\d*\.?\d*$/" data-ng-model="editData.Quanity" placeholder="Enter Quanity" maxlength="15" tabindex="4" value="" required />
                                            <div data-ng-show="PPEIssueRegisterform.Quanity.$dirty && PPEIssueRegisterform.Quanity.$invalid" class="label label-danger">
                                                Invalid: <span data-ng-show="PPEIssueRegisterform.Quanity.$error.required">Tell us Quanity.</span>
                                                <span data-ng-show="PPEIssueRegisterform.Quanity.$error.pattern" class="">Please enter only Numeric characters.</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtDepartment">Department<span class="compulsary">*</span></label>
                                            <input type="text" class="form-control" id="txtDepartment" name="Department" data-ng-model="editData.Department" placeholder="Enter Department" maxlength="30" tabindex="5" value="" required />
                                            <div data-ng-show="PPEIssueRegisterform.Department.$dirty && PPEIssueRegisterform.Department.$invalid" class="label label-danger">
                                                Invalid: <span data-ng-show="PPEIssueRegisterform.Department.$error.required">Tell us Department.</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtManagerName">Manager Name<span class="compulsary">*</span></label>
                                            <input type="text" class="form-control" id="txtManagerNams" name="ManagerName" data-ng-model="editData.ManagerName" maxlength="99"  placeholder="Enter Manager Name" tabindex="7" value="" required />
                                            <div data-ng-show="PPEIssueRegisterform.ManagerName.$dirty && PPEIssueRegisterform.ManagerName.$invalid" class="label label-danger">
                                                Invalid: <span data-ng-show="PPEIssueRegisterform.ManagerName.$error.required">Tell us Manager Name.</span>
                                                
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtPrice ">Price<span class="compulsary">*</span> </label>
                                            <input type="text" class="form-control" id="txtPrice " name="Price " data-ng-pattern="/^\d*\.?\d*$/" data-ng-model="editData.Price " placeholder="Enter Price " maxlength="15" tabindex="8" value="" required />
                                            <div data-ng-show="PPEIssueRegisterform.Price.$dirty && PPEIssueRegisterform.Price.$invalid" class="label label-danger">
                                                Invalid: <span data-ng-show="PPEIssueRegisterform.Price.$error.required">Tell us Price.</span>
                                                <span data-ng-show="PPEIssueRegisterform.Price.$error.pattern" class="">Please enter only Numeric characters.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <img src="/Content/images/thumb_Document.png" class="img-responsive"  title="Please select a Document" style="margin-left:33%;height:91px; width:99px">
                                <div class="btn btn-info" style="width:93%;" ng-model-rejected="rejFiles" data-ngf-select data-ngf-change="upload($files)" data-ngf-accept="'*.doc,*.xlsx,application/pdf'" data-ng-model=" editdata.files">Select a File</div>
                                <a ng-show="editData.Attachment != null  && editData.Attachment !='' " data-ng-if="mode == 'Add'" href="/@ViewBag.tempDocPdf/{{editData.Attachment}}" target="_blank"><i class="entypo-attach"></i></a>
                                <a ng-show="editData.Attachment != null  && editData.Attachment !='' " data-ng-if="mode == 'Edit'" href="/@ViewBag.DocPdf/{{editData.Attachment}}" target="_blank"><i class="entypo-attach"></i></a>
                            </div>
                        

                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label for="txtRemark">Remark</label>
                                            <textarea class="form-control" id="txtRemarks" name="Remarks" data-ng-model="editData.Remarks" maxlength="500" placeholder="Enter Remark" tabindex="11"></textarea>
                                        </div>
                                    </div>
                            </div>
                       
                        @*<div style="clear:both" ng-show="rejFiles.length > 0" class="alert alert-danger  response">
                            <div class="sel-file" ng-repeat="f in rejFiles">

                                <span>Rejected file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}</span><br />
                                <strong>
                                    <span>Please select valid file format</span>
                                </strong>
                                
                            </div>
                        </div>*@
                        </div> 
                          


                        <div class="panel-footer">
                            @{
                                if (hasInsertRights)
                                {
                                    <button type="submit" class="btn btn-sm btn-info btn-icon icon-left" data-ng-disabled="PPEIssueRegisterform.$invalid" tabindex="12"><i class="entypo-check"></i> {{saveText}} </button>
                                }
                            }

                            <button type="button" class="btn btn-sm btn-success btn-icon icon-left" data-ng-click="ResetPPEIssueRegister()" tabindex="13"><i class="entypo-erase"></i>Reset</button>
                            <button type="button" class="btn btn-sm btn-primary btn-icon icon-left" data-ng-click="ClosePPEIssueRegister()" tabindex="14"><i class="entypo-cancel"></i>Close</button>

                        </div>
                    </div>
            </form>
        </div>
    </div>


    <!-- / END FORM SECTION -->
    <!-- BEGING PPE ISSUE REGISTER LIST -->
    <div class="row" data-ng-init="RetrievePPEIssueRegister()">
        <div class="col-sm-12">
            <div data-loading-container="tableParams.settings().$loading">
                <div class="table-responsive">
                    <table data-ng-table="tableParams" data-show-filter="true" class="table table-hover table-bordered table-condensed table-striped">
                        <tr data-ng-repeat="d in $data">
                            <td data-title="" style="width: 50px;"><a ng-if="d.Attachment != NULL && d.Attachment != '' " href="@ViewBag.DocPdf/{{d.Attachment}}" target="_blank" title="click to download"><i class="entypo-attach"></i></a></td>
                            <td data-title="'Name of Issuer'" data-filter="{ 'NameOfIssuer': 'text' }" data-sortable="'NameOfIssuer'">{{d.NameOfIssuer}}</td>
                            <td data-title="'Department'" data-filter="{ 'Department': 'text' }" data-sortable="'Department'">{{d.Department}}</td>
                            <td data-title="'Type of PPE'" data-sortable="'TypeOfPPE'">{{d.TypeOfPPE}}</td>
                            <!--  <td data-title="'ReceiveBy'" data-filter="{ 'ReceiveBy': 'text' }" data-sortable="'ReceiveBy'">{{d.ReceiveBy}}</td>
                              <td data-title="'Relation'" data-filter="{ 'Relation': 'text' }" data-sortable="'Relation'">{{d.Relation}}</td> -->
                            <td data-title="'Price'" data-sortable="'Price'">{{d.Price}}</td>
                            <td data-title="'Changed On'" data-sortable="'ChgDate'" style="width: 125px">{{d.ChgDate | date:'dd-MMM-yyyy HH:mm'}}</td>
                            @{
                                var editPermission = ERPUtilities.HasAccessPermission(2, ctrl);
                                var deletePermission = ERPUtilities.HasAccessPermission(3, ctrl);

                                <td style="width: 128px; text-align: center;" data-title="'Actions'">
                                    <a class="btn btn-info btn-xs" data-ng-click="ShowPPEIssueRegister(d)"><i class="entypo-eye"></i></a>
                                    @if (editPermission)
                                    {
                                        <a href="#" class="btn btn-primary btn-xs" data-ng-click="UpdatePPEIssueRegister(d)" data-drc-tooltip="Edit"><i class="entypo-pencil"></i></a>
                                    }
                                    @if (deletePermission)
                                    {
                                        <a href="#" class="btn btn-danger btn-xs" data-drc-confirm-box="" data-callback="DeletePPEIssueRegister(d.SrNo)" data-message="Are you sure want to delete '{{d.NameOfIssuer}}' from PPE issue register?" data-drc-tooltip="Delete"><i class="entypo-trash"></i></a>
                                    }
                                </td>
                            }
                        </tr>
                        <tr data-ng-show="noRecord" style="text-align: center;">
                            @{
                                if (editPermission)
                                {
                                    <td style="width: 50px;"></td>
                                }
                            }
                            <td>
                                Your search - <b>{{filterText}}</b> - did not match any Recored.
                            </td>
                            <td style="width: 125px;"></td>
                            @{
                                if (editPermission || deletePermission)
                                {
                                    <td style="width: 80px;"></td>
                                }
                            }
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- / END PPE ISSUE REGISTER LIST -->
    <!-- BEGIN MODEL SECTION -->
    <script type="text/ng-template" id="PPEIssueRegister.html">
        <div class="modal-body">
            <h4> PPE Issue Register Information</h4>
            <table class="table table-striped">
                <tr>
                    <td><b>Name of Issuer:</b></td>
                    <td>{{items.NameOfIssuer}}</td>
                    <td><b>Name of Reciever:</b></td>
                    <td>{{items.NameOfRecievr}}</td>
                </tr>
                <tr>
                    <td><b>Type of PPE:</b></td>
                    <td>{{items.TypeOfPPE}}</td>
                    <td><b>Quanity:</b></td>
                    <td>{{items.Quanity}}</td>
                </tr>
                <tr>
                    <td><b>Department:</b></td>
                    <td>{{items.Department}}</td>
                    <td><b>Manager Name:</b></td>
                    <td>{{items.ManagerName}}</td>
                </tr>
                <tr>
                    <td><b>Price:</b></td>
                    <td>{{items.Price}}</td>
                    <td><b>Remarks:</b></td>
                    <td>{{items.Remarks || '-'}}</td>
                </tr>

            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="Close()">Close</button>
        </div>
    </script>
</div>

@section Scripts{

    <script src="~/Scripts/date/date.js"></script>
    <script src="~/Areas/HRD/Scripts/controllers/HRDPPEIssueRegisterCtrl.js"></script>
    <script src="~/Areas/HRD/Scripts/services/HRDPPEIssueRegisterService.js"></script>
    <script src="~/Scripts/directives/confirmbox.js"></script>
    <script src="~/Scripts/directives/focus.js"></script>
    <script src="~/Scripts/directives/drcInputMask.js"></script>
    <script src="~/Content/js/daterangepicker/daterangepicker.jQuery.js"></script>
    <script src="~/Scripts/directives/drcFilterDatePicker.js"></script>

}


