@model ERP.Models.HasAccessViewModel

<div data-tab data-ng-controller="EmpCredentialCtrl" data-select="GetEmpCredentialsList();SetFocus()" disabled="!master.Mode == 'Edit' || master.Mode == 'Add'">
    <div data-tab-heading>
        <i class="entypo-credit-card"></i>Company Cred.
    </div>
    <form role="form" data-ng-submit="CreateUpdateEmpCredentials(compCred)" name="empCCform" id="empCCform">
        <div class="row">
            <div class="col-sm-12">
                <h3>Comapany Credential Information</h3>
                <hr />
                <div class="row" id="companyCred">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lblSource">Source<span class="compulsary">*</span></label>
                            <select id="cmbSource" name="cmbSource" data-ng-model="compCred.SourceId" data-drc-focus="isFirstFocus" class="form-control" tabindex="1" required>
                                <option value="0">--Select--</option>
                                <option data-ng-repeat="s in DSource" value="{{s.SourceId}}">{{s.SourceName}}</option>
                                <option value="-1">Other</option>
                            </select>
                            <div data-ng-show="empCCform.cmbSource.$dirty && validateSource()" class="label label-danger">
                                Invalid: Please select Source.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" data-ng-if="compCred.SourceId == -1">
                        <div class="form-group">
                            <label for="lblSourceOther">Other Source<span class="compulsary">*</span> </label>
                            <input type="text" class="form-control" id="txtSourceOther" name="txtSourceOther" data-ng-model="compCred.SourceOther" tabindex="2" placeholder="Enter your source name" maxlength="50" value="" required />
                            <div data-ng-show="empCCform.txtSourceOther.$dirty && empCCform.txtSourceOther.$invalid" class="label label-danger">
                                <span data-ng-show="empCCform.txtSourceOther.$error.required">Invalid: Tell us your source name.</span>
                                <span data-ng-show="empCCform.txtSourceOther.$error.errorSourceOther">Invalid: Please enter valid source name.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lblUserName">User Name<span class="compulsary">*</span></label>
                            <input type="text" class="form-control" id="txtUserName" name="txtUserName" data-ng-model="compCred.UserName" tabindex="3" placeholder="Enter User Name" maxlength="50" value="" data-ng-blur="copyEmail()" required />
                            <div data-ng-show="empCCform.txtUserName.$dirty && empCCform.txtUserName.$invalid" class="label label-danger">
                                Invalid: <span data-ng-show="empCCform.txtUserName.$error.required">Tell us your User Name.</span>
                                <span data-ng-show="empCCform.txtSourceOther.$error.$invalid">Invalid: Please enter valid source name.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lblPassword">Password<span class="compulsary">*</span></label>
                            <input type="text" class="form-control" id="txtPassword" name="txtPassword" data-ng-model="compCred.Password" tabindex="4" placeholder="Enter Password" maxlength="50" value="" required />
                            <div data-ng-show="empCCform.txtPassword.$dirty && empCCform.txtPassword.$invalid" class="label label-danger">
                                Invalid: <span data-ng-show="empCCform.txtPassword.$error.required">Tell us your Password.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="txtEmail">Email<span class="compulsary">*</span></label>
                            <input type="email" class="form-control" id="txtEmail" name="txtEmail" data-ng-model="compCred.EmailId" tabindex="5" placeholder="Enter Email" maxlength="50" value="" required />
                            <div data-ng-show="empCCform.txtEmail.$dirty  && empCCform.txtEmail.$invalid" class="label label-danger">
                                Invalid:  <span data-ng-show="empCCform.txtEmail.$error.required">Tell us your email.</span>
                                <span data-ng-show="empCCform.txtEmail.$error.email">Please Enter valid email.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lblCDOB">Date Of Birth<span class="compulsary">*</span></label>
                            <p class="input-group" style="margin-bottom: 0;" id="p10">
                                <input type="text" data-parentid="p10" data-drc-input-mask='{ "mask": "d-m-y"}' class="form-control" id="txtCDOB" name="txtCDOB" tabindex="6" data-ng-model="compCred.BirthDate" data-ng-change="ValidateCreBirthDate(compCred.BirthDate)"
                                       placeholder="DD-MM-YYYY" maxlength="10" value="" required />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" data-datepicker-popup="{{format}}"
                                            data-is-open="calendarOpenedCreBirthDate"
                                            data-ng-model="CredBirthDate"
                                            data-max="maxDate"
                                            data-datepicker-options="dateOptions"
                                            data-ng-required="true"
                                            data-close-text="Close"
                                            data-ng-click="calendarOpenBDate($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                            <div data-ng-show="empCCform.txtCDOB.$dirty && empCCform.txtCDOB.$invalid" class="label label-danger">
                                Invalid: <span data-ng-show="empCCform.txtCDOB.$error.required">Please select your date of birth.</span>
                                <span data-ng-show="empCCform.txtCDOB.$error.invalidBirthDate">Please enter valid join date.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lblSecQue1">Security Question 1</label>
                            <input type="text" class="form-control" id="txtSecQuestion1" name="txtSecQuestion1" tabindex="7" data-ng-model="compCred.SecurityQuestion1" placeholder="Enter Security Question" maxlength="255" value="" />
                        </div>
                    </div>
                    <div class="col-md-4" data-ng-if="compCred.SecurityQuestion1">
                        <div class="form-group">
                            <label for="lblSecAns1">Security Answer 1</label>
                            <input type="text" class="form-control" id="txtSecAnswer1" name="txtSecAnswer1" tabindex="8" data-ng-model="compCred.SecurityAnswer1" placeholder="Enter Security Answer" maxlength="50" value="" required />
                            <div data-ng-show="empCCform.txtSecAnswer1.$dirty && empCCform.txtSecAnswer1.$invalid" class="label label-danger">
                                <span data-ng-show="empCCform.txtSecAnswer1.$error.required">Invalid: Tell us your Security Answer1.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lblSecQue2">Security Question 2</label>
                            <input type="text" class="form-control" id="txtSecQuestion2" name="txtSecQuestion2" tabindex="9" data-ng-model="compCred.SecurityQuestion2" placeholder="Enter Security Question" maxlength="255" value="" />
                        </div>
                    </div>
                    <div class="col-md-4" data-ng-if="compCred.SecurityQuestion2">
                        <div class="form-group">
                            <label for="lblSecAns2">Security Answer 2</label>
                            <input type="text" class="form-control" id="txtSecAnswer2" name="txtSecAnswer2" tabindex="10" data-ng-model="compCred.SecurityAnswer2" placeholder="Enter Security Answer" maxlength="50" value="" required />
                            <div data-ng-show="empCCform.txtSecAnswer2.$dirty && empCCform.txtSecAnswer2.$invalid" class="label label-danger">
                                <span data-ng-show="empCCform.txtSecAnswer2.$error.required">Invalid: Tell us your Security Answer2.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtComments">Comments</label>
                            <textarea class="form-control" id="txtCreComments" name="txtCreComments" placeholder="Enter comments" tabindex="11" data-ng-model="compCred.Comments"></textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr />
                @{
                    if (Model.HasInsertRights || Model.HasUpdateRights)
                    {
                        <button type="submit" class="btn btn-sm btn-info btn-icon icon-left" data-ng-disabled="empCCform.$invalid || validateSource() "><i class="entypo-check"></i>{{saveText}}</button>
                    }
                }
                <button type="button" class="btn btn-sm btn-success btn-icon icon-left" data-ng-click="ResetEmpCredentials()"><i class="entypo-erase"></i>Reset</button>
                <button type="button" class="btn btn-sm btn-primary btn-icon icon-left" data-ng-click="clearControl()"><i class="entypo-cancel"></i>Clear</button>
            </div>
        </div>

        <br />
        <!--Company Credential Info list-->
        <div class="row">
            <div class="col-sm-12">
                <div data-loading-container="tableParams.settings().$loading">
                    <div class="table-responsive">
                        <table data-ng-table="tableParams" data-show-filter="true" class="table table-hover table-bordered table-condensed table-striped">
                            <tr data-ng-repeat="d in $data">
                                <td data-title="'Source'" data-filter="{ 'SourceName': 'text' }" data-sortable="'SourceName'">{{d.tblEmpSource.SourceName}}</td>
                                <td data-title="'UserName'" data-filter="{ 'UserName': 'text' }" data-sortable="'UserName'">{{d.UserName}}</td>
                                <td data-title="'EmailId'" data-filter="{ 'EmailId': 'text' }" data-sortable="'EmailId'">{{d.EmailId}}</td>
                                <td data-title="'BirthDate'" data-sortable="'BirthDate'">{{d.BirthDate | date:'dd-MMM-yyyy' }}</td>
                                <td style="width: 125px;" data-title="'Changed On'" data-sortable="'ChgDate'">{{d.ChgDate | date:'dd-MMM-yyyy HH:mm'}}</td>

                                @{
                                    if (Model.HasUpdateRights || Model.HasDeleteRights)
                                    {
                                        <td style="width: 80px; text-align: center;" data-title="'Actions'">
                                            @{
                                        if (Model.HasUpdateRights)
                                        {
                                            <a href="#" class="btn btn-primary btn-xs" data-ng-click="UpdateEmpCredentials(d)" data-drc-tooltip="Edit"><i class="entypo-pencil"></i></a>
                                        }
                                            }
                                            @{
                                        if (Model.HasUpdateRights)
                                        {
                                            <a href="#" class="btn btn-danger btn-xs" data-drc-confirm-box="" data-callback="DeleteEmpCredentials(d)" data-message="Are you sure want to delete '{{d.tblEmpSource.SourceName}}' from Company Credential ?" data-drc-tooltip="Delete"><i class="entypo-trash"></i></a>
                                        }
                                            }
                                        </td>
                                    }
                                }

                            </tr>
                            <tr data-ng-show="noRecord" style="text-align: center;">
                                <td colspan="4">
                                    Your search did not match any Credentials.
                                </td>
                                <td style="width: 125px;"></td>
                                @{
                                    if (Model.HasUpdateRights || Model.HasDeleteRights)
                                    {
                                        <td style="width: 80px;"></td>
                                    }
                                }
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>